@model ICollection<MemberViewModel>
@{
    ViewData["Title"] = "MemberIndex";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@if (TempData["MemberEditSuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @*<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>*@
        @TempData["MemberEditSuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h3>Sistemdeki Tüm Üyeler</h3>

<!-- USERS LIST -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Üye Bilgileri</h3>

        <div class="card-tools">
            <span class="badge badge-danger">Toplam @Model.Count Üye</span>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <ul class="users-list clearfix" id="uyeList">
            @foreach (var item in Model)
            {
                <li>
                    <a href="/admin/duzenle?id=@item.Email">
                        @if (item.Picture == null)
                        {
                            if (item.Gender == 1) //kadın
                            {
                                <img src="~/MemberPictures/anonimKadin.jpg"
                                     alt="User Image">

                            }
                            else
                            {
                                <img src="~/MemberPictures/anonimErkek.jpg"
                                     alt="User Image">
                            }

                        }
                        else
                        {
                            <img src="@item.Picture" alt="User Image">

                        }


                        <br />
                        <span style="font-weight:bold;color:black;">
                            @item.Name @item.Surname.ToUpper()
                        </span>
                        <span class="users-list-date text-danger">
                            @{

                                TimeSpan span = new TimeSpan();
                                span = DateTime.Now - item.CreatedDate;
                                var days = Convert.ToInt32(span.TotalDays);
                                string result = string.Empty;
                                if (days == 0)
                                {
                                    result = "Yeni Üye";
                                }
                                else
                                {
                                    result = $"{days} Gündür Üye";
                                }
                            } @result
                        </span>
                    </a>
                </li>
            }
        </ul>
        <!-- /.users-list -->
    </div>
    <!-- /.card-body -->
</div>
<!--/.card -->
@section PageCss{
    #uyeList li img{
        width:160px !important;
        height:160px !important;
    }
}